/* Geaneral style */
body{
 font-family:'Poppins', sans-serif;
}
h1 ,h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --manin-color: inherit;
}
/* Header section */
.home{
    background-image: url(../imags/bg.jpg);
    background-position: center center;
    background-size: cover;
}

.home_caption h2{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;

}
.home_caption h1{
    font-size: 50px;
    font-weight: 200;
    display: block;
}

/* section Hero */
.hero-progress {
    color: black;
}

.hero_caption.btn:hover{
background-color: white !important;
color: var(--manin-color) !important;
}



/* section servecies */
.servecies{
    background-color: #f7f7f7;
}


 .servecies .servecies-item .icon{
    width: 50px;
    height: 50px;
    background-color: #f7f7f7; 
    transition: all 5s;
}

.servecies .servecies-item:hover.icon{
    background-color: #1c1c1c; 
    color: #eee;
}

/* section Portfolio. */
.Portfolio .tab-layer{
    transition: all 0.5s;
}

.Portfolio .tab-layer:hover{
    opacity: 1 !important;

}

/* section  Testimonials  */

.Testimonials{
    background-color: #f7f7f7;
}
.Testimonials .carousel-indicators [data-bs-target]{
    background-color: #1c1c1c;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
/* section Our Blog */

.blog{
background-color: #f7f7f7;
}

.blog .carousel-indicators [data-bs-target]{
    background-color: #1c1c1c;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


